<div class="container">

	<div class="row">
		<div class="col-md-4">
			<div class="list-group">
			  <a class="list-group-item" ng-repeat="stock in data.stocks" ng-click="selectStock(stock)">
			    {{ stock.name }}
			  </a>
			</div>	
		</div>
		<div class="col-md-8" ng-show="selectedStock">
			<div class="panel panel">
				<div class="panel-body">
					<p>Stock Exchange: {{ selectedStock.stockExchange }}</p>
					<p>Open: {{ selectedStock.quote.open }}<p>
					<p>PreviousClose: {{ selectedStock.quote.previousClose }}</p>
					<p>Day High: {{ selectedStock.quote.dayHigh }}</p>
					<p>Day Low: {{ selectedStock.quote.dayLow }}</p>
					<p>Year High: {{ selectedStock.quote.yearHigh }}</p>
					<p>Year Low: {{ selectedStock.quote.yearLow }}</p>
					<p>Check: {{ selectedStock.history[0].date | date }}</p>
					<p ng-repeat="each in dates">Date: {{ each.date | date}}</p>
					<canvas id="line" class="chart chart-line" chart-data="historyData"
						chart-labels="historyLabels" chart-series="historySeries" 
						chart-options="historyOptions" chart-dataset-override="historyDatasetOverride"
						 chart-click="historyOnClick" chart-colors="historyColors">
					</canvas>
				</div>
			</div>
		</div>
	</div>
</div>

