<div class="container">
	<p ng-show="message" id="errorMessage">{{ message }}</p>
	<form ng-submit="login()" name="loginForm">
		<div class="row">
			<div class="col-md-5">
				<input type="text" name="username" placeholder="username" ng-model="loginFormData.username">
			</div>
			<div class="col-md-5">
				<input type="password" name="password" placeholder="password" ng-model="loginFormData.password">
			</div>
			<div class="col-md-2">
				<input type="submit" value="Login">
			</div>
		</div>
	</form>
</div>