<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-5 ">
			<div class="panel panel-primary" ng-repeat="stock in allStocks">
				<div class="panel-heading">{{ stock.name }} - {{ stock.symbol }}</div>
				<div class="panel-body">
					<p>Stock Exchange: {{ stock.stockExchange }}</p>
					<p>Open: {{ stock.quote.open }}<p>
					<p>PreviousClose: {{ stock.quote.previousClose }}</p>
					<p>Day High: {{ stock.quote.dayHigh }}</p>
					<p>Day Low: {{ stock.quote.dayLow }}</p>
					<p>Year High: {{ stock.quote.yearHigh }}</p>
					<p>Year Low: {{ stock.quote.yearLow }}</p>
				</div>
			</div>
		</div>
	</div>
</div>